version: "3"
services:

  backend:
    container_name: backend_fast_api
    build:
      context: .
      dockerfile: dockerfile_backend
    env_file:
      - .env
    command: bash -c "
      env
      && alembic upgrade head
      && uvicorn run:app --host ${HOST} --port ${PORT} --workers 3
      "
    depends_on:
      - postgres

  postgres:
    container_name: postgres
    image: postgres:13-alpine3.15
    volumes:
      - postgres_volume:/var/lib/postgresql/data/
    env_file:
      - .env

  nginx:
    container_name: nginx
    build: ./nginx
    env_file:
      - .env
    volumes:
      - nginx_volume:/nginx
    ports:
      - ${NGINX_PORT}:80
    depends_on:
      - backend
      - postgres


volumes:
  postgres_volume:
  nginx_volume:
